:root {
    --background-color: #212121;
    --nav-color: #313535;
    --text-color: #f4f3ee;
    --article-color: #e0e1dd;
    --article-text-color :#161a1d;
    --inside-page-color: #313535;
    --red : #fe938c;
  }
