:root {
    --background-color: white;
    --nav-color: #b2b3a8;
    --text-color: #495159;
    --article-color: #f0efeb;
    --article-text-color :#495159;
    --inside-page-color: white;
    --red : #fcd45d;
  }