* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

html {
    font-size: 62,5%;
    font-family: 'Noto Sans JP', sans-serif;
    
}

main {
    position: relative;
}

body {
    background-color: var(--background-color);
    color: #292C35;
}
.red {
    color: var(--red);
}

.articles-link {
    background-color: var(--background-color);
}

.navbar-brand {
    color: var(--red);
    font-size: 1.9rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.card-text, .card-title{
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis; 
    color: var(--article-text-color);
} 
.card-article {
    max-width: 500px;
    max-height: 330px;
    height: 350px;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.card-article-img {
    width: 100px;
    height: 100px;

}
.card-img-top {
    height:  200px;
    width: 250px;
    margin-left: 10px;
}

.card-body {
    max-width: 320px;
    background-color: var(--article-color);
    position: relative;
}

.info-bottom {
    position: absolute;
    bottom: 0;
}


.profil-articles-box{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;

}



.pinned-article {
    max-width: 800px;
    border: 1px solid lightgray;
    border-radius: 4px;

}
.main-bloc  {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;

}

.main-article-title {
    font-size: 1.5rem;
}
.main-container {
    width: 850px;
    background-color: var(--inside-page-color);
    border-radius: 6px;
}

.main-image {
    width: 350px;
    height: 300px;
}

.article-img-main {
    width: 100%;
}

.main-articles {
    width: 350px;
    height:fit-content;
    border: 1px solid lightgray;
    margin-right: 100px;
    margin-bottom: 30px;
    border-radius: 4px;

}


.main-titre {
    font-size: 1.7rem;
    color: var(--text-color);
}
.article-image.preview {
    height: 150px !important;
    width: auto;
}

.articles > .article {
    margin-bottom : 1em;
}

/*
 * USERS
 */


.user-avatar {
    height: 2.5rem;
}
.user-avatar.small {
    height: 2rem;
}

.user-login-container {
    min-width: 15rem;
    padding: 1rem;
}

.users > .user {
    margin-bottom : 1em;
}

.login-dropdown{
    background-color: var(--red);

}


.list-users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.fade {
    transition-delay: 2s;
}

footer {
    background-color : var( --nav-color) ;
    height: 100px;
    align-content: center;
    color: white;
    position: relative;
    bottom: 0;
    margin-top: 200px;
}

.copy {
    margin-top: 40px;
}
.white {
    background-color: white;
}
.theme {
    text-decoration: underline var(--red);
    color: var(--red);
}


.form-text {
    color: var(--text-color);
}
.article-item {
    text-align: center;
    color: var(--text-color);
}
.article {
    display: flex;
    flex-direction: column;
}

.article-img {
    width: 25% ;
    height: 25%;
    text-align: center;
}



.like-container {
    display: flex;

}
.article-like {
    text-decoration: none;
    margin: 10px;
}

.article-content{
    text-align: justify;
    color: lightgray;
}
.ariticle-pinne-btn:hover {
    background-color: lightgray;
}


.nav-links {
    margin-right: 30px;
}

.comment-article {
    border: 1px solid lightgrey;
    margin-bottom: 20px;
    width: 600px;
    margin-top: 30px;
}

.article-from-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;

}
.info-comment {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: gray;
}

.comment-content {
    font-size: 1.7rem;
    text-align: justify;
    color: var(--text-color);

}



.profil-perso-data {
    display: flex;
}

.profil-titre {
    color: var(--text-color);
}

.profil-user {

    max-width: 300px;
    padding: 10px;
    
}

.article-btn {
    border: 1px solid lightgray;
    color: var(--text-color);
    background-color: var(--nav-color);
    font-family: 'Noto Sans JP', sans-serif;
}

.search-btn {
    background-color: var(--red);
    color: var(--text-color);
}
.article-btn:hover {
    background-color: var(--red);
    color: var(--article-text-color);
}
.pinned-btn {
    background-color: var(--red);
    color: var(--text-color);
}



.pinned-btn:hover {
    color: var(--article-text-color);
}

.profil-user-info {
    display: flex;
    justify-content: space-between;
}
.label-info-perso {
    margin: 10px;
    color: var(--text-color)
}
.nav-link {
    color: var(--text-color);

}
.nav-link:hover{
    color: var(--red);

}

.navbar-brand:hover {
    color: white;
}
.navigation {

    background-color: var( --nav-color);
    height: 100px ;
}
.toggle {
    border: 1px solid black;
}
.theme-box {
    position: absolute;
    right: 5px;
}
.theme-bubble {
    width: 100px;
    
}
.light {
    background-color: #e2cfc4 ;
}
.dark {
    margin-left: 1rem;
    background-color: #827081;

}
.dark:hover {
    border: 2px solid white;
}
.light:hover {
    border: 2px solid black;
}


.dark:focus , .light:focus {
    outline: none;
}

.toggle{
    color: white;
}

.user-card  {
    background-color:  var(--article-color);
    border-radius: 10px ;

}
.top-users-pseudo, .top-users-nbvue {
    text-align: center;
    font-size: 2rem;
}

.top-users {
    display: flex;
    justify-content: space-between;

}

.top-user-nb {
    font-size: 0.8rem;
    
}

.top-users-nbvue {
    color: var(--red);
}


@media screen and (max-width: 900px) {


    .article-img {
        display: none;
    }

    .comment-article,.article-from-comment , .card-article, .pinned-article , .main-container, .main-bloc{
        width: auto;
    }

    .pinned-article-titre, .top-users {
        color: var(--article-text-color);
    }
    .card-article {
        max-width: 600px;
    }
    .top-users {
        display: inline;
        text-align: center;
    }

    .top-users-pseudo, .top-users-nbvue {
        font-size: 1.3rem;
    }

    .user-card {
        max-width: 18rem;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        color: var(--article-text-color);
    }

    .pinned-article {
        margin-left: auto;
        margin-right: auto;
    }


    .card-img-top {
        display: none;
    }


    .main-bloc , .profil-articles-box{
        display: flex;
        flex-direction: column;
    }
    .navbar-brand {
        text-align: center;
       
    }
}


@media screen and (max-width: 1200px) {
    .main-bloc , .profil-articles-box{
        display: flex;
        flex-direction: column;
    }

    .card-article {
        height: fit-content;
    }

    .top-users-pseudo, .top-users-nbvue {
        font-size: 1.5rem;
    }
}
