* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

html {
    font-size: 62,5%;
}




body.dark {
    background-color: #292C35;
    color: white;
}

.card-text, .card-title{
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis; 
} 
.card-article {
    margin: 1em;
    max-height: 320px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
}

.card-article-img {
    width: 100px;
    height: 100px;

}
.card-img-top {
    height:  200px;
    width: 250px;
}
.card {
    margin: 1rem;
}
.card-body {
    max-width: 300px;
    max-height: fit-content;
}




.profil-articles-box{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;

}



.pinned-article {
    max-width: 800px;
    border: 1px solid lightgray;
    border-radius: 4px;

}
.main-bloc  {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;

}

.main-article-title {
    font-size: 1.5rem;
}
.main-container {
    width: 800px;
}

.main-image {
    width: 350px;
    height: 300px;
}

.article-img-main {
    width: 100%;
}

.main-articles {
    width: 350px;
    height:fit-content;
    border: 1px solid lightgray;
    margin-right: 100px;
    margin-bottom: 30px;
    border-radius: 4px;

}


.main-titre {
    font-size: 1.7rem;
}
.article-image.preview {
    height: 150px !important;
    width: auto;
}

.articles > .article {
    margin-bottom : 1em;
}

/*
 * USERS
 */

.top-users {
    display: flex;
    justify-content: space-between
}

.top-user-nb {
    font-size: 1rem;

}
.user-avatar {
    height: 2.5rem;
}
.user-avatar.small {
    height: 2rem;
}

.user-login-container {
    min-width: 15rem;
    padding: 1rem;
}

.users > .user {
    margin-bottom : 1em;
}


.list-users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fade {
    transition-delay: 2s;
}

footer {
    background-color: #22223b ;
    height: 100px;
    align-content: center;
    color: white;

}

.copy {
    margin-top: 40px;
}

.theme {
    color:black;
}

.article-item {
    text-align: center;
}
.article {
    display: flex;
    flex-direction: column;
}

.article-img {
    width: 25% ;
    height: 25%;
    text-align: center;
}



.like-container {
    display: flex;

}
.article-like {
    text-decoration: none;
    margin: 10px;
}

.article-content{
    text-align: justify;
}

.info-article {
    background-color: #ddbea9;
    margin-bottom: 30px;
}

.comment-article {
    border: 1px solid lightgrey;
    margin-bottom: 20px;
    width: 600px;
    margin-top: 30px;
}

.article-from-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;

}
.info_comment {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: gray;
}

.comment-content {
    font-size: 1.7rem;
    text-align: justify;

}



.profil-perso-data {
    display: flex;
}

.profil-user {

    max-width: 300px;
    padding: 10px;
    
}



.profil-user-info {
    display: flex;
    justify-content: space-between;
}
.label-info-perso {
    margin: 10px;
}
.nav-link {
    color: #264653;
}
.navigation {

    background-color: #fae1dd;
}
.toggle {
    border: 1px solid black;
}
.theme-box {
    position: absolute;
    right: 5px;
}
.theme-bubble {
    width: 100px;
}
.light {
    background-color: #e2cfc4 ;
}
.dark {
    margin-left: 1rem;
    background-color: #827081;

}
.dark:hover {
    border: 2px solid white;
}
.light:hover {
    border: 2px solid black;
}


.dark:focus , .light:focus {
    outline: none;
}

.toggle{
    color: white;
}



@media screen and (max-width: 900px) {


    .article-img {
        display: none;
    }

    .comment-article,.article-from-comment , .card-article, .pinned-article , .main-container, .main-bloc{
        width: auto;
    }
    .card-article {
        max-width: 600px;
    }
    .top-users {
        display: inline;
        text-align: center;
    }
    .user-card {
        max-width: 18rem;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .pinned-article {
        margin-left: auto;
        margin-right: auto;
    }

    .card-img-top {
        display: none;
    }
    .main-bloc , .profil-articles-box{
        display: flex;
        flex-direction: column;
    }
    .navbar-brand {
        text-align: center;
    }
}


@media screen and (max-width: 1200px) {
    .main-bloc , .profil-articles-box{
        display: flex;
        flex-direction: column;
    }

    .card-article {
        height: fit-content;
    }
}
